.brand-heading,
.intro-tagline,
h2, h3, a.btn, button.btn,
.navbar-brand,
.navbar-nav > li > a,
p, input, textarea, span {
  font-family: Palatino !important;
}

/*body {
  font-family: Palatino !important;
}*/

.nav-brand {
  line-height: 20px;
  height: auto;
  padding: 15px 0 !important;
}

.intro-section {
  background-position: 50% 150px;
}

.intro-tagline {
  color: #4a858f !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}

.about-logo {
  margin: 30% auto;
}

.team-portrait {
  width: 350px;
}
@media only screen and (max-width: 1200px) {

  .navigation-container {
    width: 100%;
  }

  .navbar-collapse {
    width: 100%;
  }

  .navbar {
    background-color: #4a858f;
    border-bottom: none;
  }

  .navbar-header {
    width: 100%;
  }

  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-nav>li {
    float: none;
    display: inline-block;
  }

  .navbar-nav>li>a {
    padding: 10px;
  }

  .intro-section {
    background-position: 50% 0px !important;
  }

  .img-circle {
    margin: 15px auto;
  }


}

@media only screen and (max-width: 767px) {
/*  .team-paragraph {
    max-width: 236px;
    margin: 0 auto;
  }*/

  .navbar-header {
    margin-left: -2.5px !important;
  }

  .navbar-nav {
    text-align: left;
  }

  .navbar-nav>li {
    float: none;
    display: block;
  }

  .navbar-nav>li>a {
    padding: 13px;
  }

  .navbar-toggle {
    margin-right: 0px;
  }

  .navbar-brand {
    width: auto;
  }
}