.nav-brand {
  line-height: 20px;
  height: auto;
  padding: 15px 0 !important;
}

.intro-section {
  background-position: 50% 150px;
}

.intro-tagline {
  color: #4a858f !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}

.about-logo {
  margin: 30% auto;
}

.team-portrait {
  width: 350px;
}